body{
    background-color: #251f1f;
    color: wheat;
}
/*Headers */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    padding: 10px;
    display: flex;
    gap: 20px;
}
label {
    display: block;
}
input[type="text"]{
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}
input[value="Resize"]{
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
    height: auto;
    width: auto;
}

.header-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 20px;
}

svg, .header-buttons img{
    width: 24px;
    height: 24px;
}

.options p {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}

/* Page rows */
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: stretch;
    align-items: center;
    width: 50%;
    background-size:cover;
}
.row{
    display: flex;
}
.item{

    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}